# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [ ]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
val = my_list[1][1]
val

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [ ]:
# write your code here
l1 = [50, 40, 30, 20, 10]
l1[::-1]
#print start from len(l1)-1 if you print in reverse order.

[10, 20, 30, 40, 50]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [ ]:
# write your code here
l2 = [1, 2, 3, 4, 5, 6, 7, 8]
l2[1:len(l2):2]

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [ ]:
# write your code here
l3 = [10, 20, 30, 40, 50]
l3[2:4] = [99,100,101]
l3

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [ ]:
# write your code here
l4 = [1, 2, 3, 4, 5]
l4[1:3] = [99,100,101]
l4

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [ ]:
# write your code here
ls1 = [1,2,3,4]
ls2 = [5,6,7,8]
ls1.extend(ls2)
ls1

[1, 2, 3, 4, 5, 6, 7, 8]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [ ]:
# write your code here
l1 = [1, 2, 3]
l1.extend('abc')
l1
#extend() only take one argument

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [2]:
# write your code here
s1 = [5,4,3,2,1]
s2 = [1,6,7,3,4]
s1.extend(i for i in s2 if i not in s1)
s1

[5, 4, 3, 2, 1, 6, 7]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [3]:
# write your code here
lst = [0] * 100
for i in range(9, 100, 10):
    lst[i] = 1
    print(i,end=' ')

9 19 29 39 49 59 69 79 89 99

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [4]:
# write your code here
set([2, 4]).issubset([1, 2, 3, 4, 5])

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [5]:
# write your code here
lt1 = [1, 2, 3, 4, 5]
lt2 = [2, 4]

result = [x for x in lt1 if x not in lt2]
print(result)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [6]:
# write your code here
l = [1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [7]:
# write your code here
l = [1,2,3,4,5,6,7,8,9,10]
l.append(99)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [8]:
# write your code here
l = [1,2,3,4]
l[1] = 99
l

[1, 99, 3, 4]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [9]:
# write your code here
l = [1,2,3,4]
l.remove(2)
l

[1, 3, 4]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [10]:
# write your code here
l = [1,2,3,4]
l.pop()
l

[1, 2, 3]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [11]:
# write your code here
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

c = 0
for i in lst1:
    c += 1

print(c)

10

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [14]:
# write your code here
a = [1,2,3,4,5,6,7]
a[:5]

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [16]:
# write your code here
a = [1,2,3,4,5,6,7]
a[::-1]

[7, 6, 5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [27]:
# write your code here
a = [1,2,3,4,5,6,7]
n = 1
print(n in a)

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [28]:
# write your code here
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [29]:
# write your code here
a = [1,2,3,4,5]
s = 0
for i in a:
    s = s+i
print(s)

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [31]:
# write your code here
a = [1,2,3,4,5,6,7,8,9,10]
odd = [i for i in range(1,11) if i%2 != 0]
odd

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [32]:
# write your code here
t = [1, 2, 2, 3, 4, 4, 5]
unique = set(t)
print(unique)

{1, 2, 3, 4, 5}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [33]:
# write your code here
s = 'hello'
s1 = list(s)
s1

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [34]:
# write your code here
n = [2, 3, 4, 5]

pro = 1
for n in n:
    pro *= n

print(pro)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [35]:
# write your code here
a = [1,3,5,3,2,8]
a.sort()
a

[1, 2, 3, 3, 5, 8]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [36]:
# write your code here
a = [1,3,5,3,2,8]
a.clear()
a

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [2]:
# write your code here
a = [1,2,3,4,5]
i = 0
while i<len(a):
      print(a[i])
      i+=1

1
2
3
4
5

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [9]:
# write your code here
my_list = ['a', 'b', 'c', 'd']

for index, value in enumerate(my_list):
    print(index, ":", value)

0 : a
1 : b
2 : c
3 : d

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [11]:
# write your code here
i = [1,2,3,4]
print(i.index(3))

2

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [12]:
# write your code here
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [17]:
# write your code here
a = (1,2,3,4,5)
a[2]

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [18]:
# write your code here
a = (1,2,3,4,5)
a[2:5]

(3, 4, 5)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [20]:
# write your code here
a = (1,2,3,4,5)
n = 3
print(n in a)

False

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [21]:
# write your code here
a = (1,2,3,4,5)
a.index(2)

1

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [22]:
# write your code here
a = (1,2,3,4,5)
a.count(2)

1

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [60]:
# write your code here
a = ((1,2,3),(1,2),(4,5,6,7))
print(a[2][2])

6

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [27]:
# write your code here
a = (1,2,3,4,5)
a1 = (1,11,3,4,5)
print(a == a1)

False

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [29]:
# write your code here
a = [1,2,3,4,5]
b = tuple(a)
type(b)

tuple

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [30]:
# write your code here
a = (1,2,3,4,5)
s = 0
for i in range(len(a)+1):
    s = s+i
print(s)

15

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [31]:
# write your code here
a = 1,2,3,4,5
b = tuple(a)
type(b)

tuple

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [35]:
# write your code here
a = 11,2,3,4,5
for i in range(len(a)):
     print(a[i])

11
2
3
4
5

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [36]:
# write your code here
my_tuple = (10, 20, 30)

try:
    my_tuple[1] = 99
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [37]:
# write your code here
t = (10, 20, 30)

a, b, c = t

print(a)
print(b)
print(c)

10
20
30

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [48]:
# write your code here
t = {(1,2):'hello'}

t

{(1, 2): 'hello'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [49]:
# write your code here
t = (1,2,3,4,5)
len(t)

5

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [51]:
# write your code here
t = (1,2,3,4,5)
t1 = (1,21,3,4,5)
print(t == t1)

False

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [55]:
# write your code here
t = (1,2,3,4,5)
min(t)
max(t)

5

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [59]:
# write your code here
a = ((1,2,3),(1,2),(4,5,6,7))
print(a[2][2])

6

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [ ]:
# write your code here
#not discuss about this question .

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [61]:
# write your code here
s = {10,11,12,13,14,15}
s

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [67]:
# write your code here
s = {10,11,12,13,14,15}
s.update([1,2,3])
s

{1, 2, 3, 10, 11, 12, 13, 14, 15}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [68]:
# write your code here
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issubset(set2))

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [69]:
# write your code here
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

print(set1.issuperset(set2))

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [74]:
# write your code here
a = {1,2,3,4,7,8,9}
b = {1,2,3,4,5,6}
c= a-b
c

{7, 8, 9}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [76]:
# write your code here
multiples = {x for x in range(1, 16) if x % 3 == 0}
print(multiples)

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [80]:
# write your code here
s = {1,2,3,4}
s.discard(7)
s

{1, 2, 3, 4}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [84]:
# write your code here
s = {}
print(len(s) == 0)

True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [85]:
# write your code here
s = {1,2,6,8,9,5}
max(s)

9

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [86]:
# write your code here
s = {1,2,6,8,9,5}
min(s)

1

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [87]:
# write your code here

frozenset1 = frozenset([1, 2, 3, 4])

print(frozenset1)

frozenset({1, 2, 3, 4})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [ ]:
# write your code here
#no idea

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [ ]:
# write your code here
#no idea plz discuss in class

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [90]:
# write your code here
l = [1,2,3,3,4,4,5,6,6,2]
s = set(l)
s

{1, 2, 3, 4, 5, 6}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [96]:
# write your code here
s = {1,2,3,4,5}
r = {i**2 for i in range(1,len(s)+1)}
r

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A  B
```

In [102]:
# write your code here
set1 = {1,2,3,3,2,1}
set2 = {4,5,6,71,2,3}
print(set1.intersection(set2))

{2, 3}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A  B) set
```

In [103]:
# write your code here
set1 = {1,2,3,3,2,1}
set2 = {4,5,6,71,2,3}
print(set1.symmetric_difference(set2))

{1, 4, 5, 6, 71}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [105]:
# write your code here
set1 = {10, 20, 30, 40, 50}

for i in set1:
    print(i)

50
20
40
10
30

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [113]:
# write your code here
my_set = {1,1,1,1, 2, 3, 4, 5}
value = 1

1

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [ ]:
# write your code here# Original set
original_set = {1, 2, 3, 4}


copied_set = original_set.copy()

# Verify the sets
print("Original:", original_set)
print("Copied:", copied_set)

# Check if they are separate objects
print("Are they the same object?", original_set is copied_set)

# Modify the copied set
copied_set.add(5)
print("After adding to copied set:")
print("Original:", original_set)
print("Copied:", copied_set)

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.